name: automated_robot_tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
        browser: [ "chrome", "firefox" ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Cache Python packages
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        rfbrowser init

    - name: Run tests
      run:
        scripts/run_tests.sh ${{ matrix.browser }}
    
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()  # Upload results even if tests fail
      with:
        name: test-results-${{ matrix.browser }}
        path: test_results/${{ matrix.browser }}/

  combine-results:
    needs: test
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Cache Python packages
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Download all test artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts/ 
    
    - name: Combine test results
      run: |
        rebot --outputdir test_results/combined --name "Cross Browser" artifacts/test-results-firefox/output.xml artifacts/test-results-chromium/output.xml

    - name: Upload Combined Results
      uses: actions/upload-artifact@v4
      if: always()  # Ensure this step runs even if previous steps fail
      with:
        name: test-results-combined
        path: test_results/combined/